<!DOCTYPE html>
<html>
<head>
    <title>ideabox | ...your idea is awesome</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>

<script src="scripts/custom.js"></script>
<script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>

<div class="container-fluid">
    <div class="row header">
        <div class="header-content">
            <div><a href="/"><img src="images/ideabox_white.png"></a></div>
            <div class="login-signup">
                <a href="">SIGN IN</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="herobg">
            <p>Idea is Life!</p>
            <p>We are a community of ideators and we are inspired by the desire to change our world!<br>We believe your ideas are awesome</p>
            <!-- jumbotron -->
            <a href="" class="btn btn-primary btn-lg">Join the league</a>
        </div>
    </div>
    <div class="row">
        <div class="main">
            <div class="col-sm-12 col-md-8 idea-stream">
                <!-- idea stream loads here -->
                <div></div>
            </div>
            <div class="col-sm-12 col-md-4 side-board">stuff2</div>
        </div>
    </div>
</div>


</html>