<!DOCTYPE html>
<html>
<head>
    <title>ideabox | ...your idea is awesome</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>

<script src="scripts/custom.js"></script>
<script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>

<div class="container-fluid header">
    <div class="row">
        <div class="header-content">
            <div><a href="/"><img src="images/ideabox_white.png"></a></div>
            <div class="login-signup">
                <a href="">SIGN IN</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- jumbotron -->
        </div>
    </div>
</div>

</html>