<!DOCTYPE html>
<html>
<head>
    <title>ideabox</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>

<div class="container-fluid">
    <div class="row header">
        <div class="header-content">
            <div><a href="/home"><img src="images/ideabox_white.png"></a></div>
            <div class="logout">
                <ul>
                    <li><a>LOG OUT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="main">
            <h1>My Profile</h1>
            <div class="post-idea clearfix">
                <form>
                    <input class="post-title" type="text" placeholder="Abolaji Femi">
                    <textarea class="txt-area" placeholder="How would you describe yourself?"></textarea>
                <button type="submit" class="btn btn-primary btn-custom">Save</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
<script src="scripts/jquery-2.2.1.min.js"></script>
<script src="scripts/globalrequest.js"></script>
<script src="scripts/custom.js"></script>
<script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/markdown-it.min.js"></script>
</body>
</html>