/**
 * BASIC PRESETS
 */

* {
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none; }

li {
  display: inline; }

a {
  text-decoration: none; }

html, body {
  text-align: center;
  font-size: 100%;
  -webkit-font-smoothing: antialaiased;
  font-smoothing: antialaiased;
}

/**
 * IMPORT FONTS
 */

@font-face {
  font-family: "Proreg";
  src: url("../bootstrap-3.3.7/fonts/Proxima-Nova-Regular.otf") format("opentype"); }

  @font-face {
  font-family: "Probold";
  src: url("../bootstrap-3.3.7/fonts/Proxima-Nova-Bold.otf") format("opentype"); }

/**
 * ERROR PAGE
 */

.four-o-four {
    font-size: 50px;
    font-weight: bold;
}

.page-not-found {
    text-align: center;
    background: #436fb7;
    height: 55px;
}

.page-not-found, .header img {
    height: 55px;
}

.page-error-msg {
    width: 90%;
}

/**
 * HOME HEADER
 */

 .header {
    background: #436fb7;
    height: 55px;   
 }

.header-content {
    max-width: 1000px;
    height: 55px;
    background: #436fb7;
 }

 .header-content div img {
    float: left;
    margin-left: 5px;

 }

 .login-signup {
    float: right;
    height: 55px;
    width: 120px;
 }

 .login-signup:hover {
    background:#2e5699;
 }

.login-signup a {
    text-decoration: none;
    font-size: 0.8em;
    color: #fff;
    display: block;
    margin-top: 18px;
    margin-right: 5px;
    font-weight: bold;
}



/**
 * Hero bg 
 */

.herobg {
    background: url("../images/home_banner.jpg") center no-repeat;
    height: 200px;
    width: 100%;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-rigt: 10px;
}

.herobg > p:first-child {
    font-size: .2em;
    font-family: Probold;    
}


.herobg > p:nth-child(2) {
    font-size: .8em;
}

form > div > label { font-size: 0.8em;}

#signin form label, #signin h3, #signup form label, #signup h3 {
    float:left;
}

#signin h3, #signup h3 { color: #436fb7;}

#signup {display: none;}

.auth-msg {display: none;}

#signin .modal-body {min-height: 250px;}
#signup .modal-body { min-height: 350px; }

.modal-footer { text-align: center; font-size: 0.8em; }
.signup, .signin { color: #436fb7; cursor: pointer;}
img.loader { height: 15px; width: 15px; display: none;}

.main {
    max-width: 1000px;
}

.idea-stream {
    /*max-width: 587px;*/
    height: 300px;
}

.post-idea {
    width: 100%;
}

textarea.txt-area {
    width: 100%;
    min-height: 65px;
    resize: none;
    margin-top: 25px;
    outline: none;
    border: 1px solid #e2e0e7;
    border-radius: 3px;
    moz-border-radius: 3px;
    o-border-radius: 3px;
    padding: 5px;
    font-family: Proreg;
    color: #a3a3a3;
}

textarea.txt-area:focus {
    border: 2px solid #e2e0e7;
    color: #000;
}

.btn-custom {
    width: 100%;
}


.side-board {
    
}

.trending-ideas, .tags {
    height: 65px;
    width: 100%;
    padding-top: 20px;
    text-align: left;
    border-bottom: 1px solid #e2e0e7;
}

.trending-ideas > span, .tags > span {
    font-size: 0.9em;
    font-weight: bold;
    color: #436fb7;
}

.trending-ideas p, .tags p {
    font-size: 0.8em;
    color: #adadad;
}

.footer {
    bottom: 0;
}



@media (min-width: 768px) {
    .four-o-four {
        font-size: 200px;
        font-weight: bold;
    }

    .page-not-found {
        text-align: center;
        background: #436fb7;
        height: 55px;
    }

    .page-not-found img {
        height: 55px;
        width: 103px;
    }

    .herobg {
        background: url("../images/home_banner.jpg") center no-repeat;
        height: 240px;
        width: 100%;
        padding-top: 5px;
    }

    .herobg > p:first-child {
        font-size: 4.0em;
        font-family: Probold;    
    }


    .herobg > p:nth-child(2) {
        font-size: 1.3em;
    }

    .trending-ideas {
        height: 65px;
        width: 100%;
    }
}

@media (min-width: 992px) {

}